<?xml version="1.0" encoding="utf-8" ?>
<Settings>
  <Connection
    ServerIp = "127.0.0.1"
    Database = "DATABASE_NAME"
    Username = "93U7bXc0jI7vHb/+3fO9wg=="
    Password = "9vUAEUVarguB5IUhxyB9cijlxTv+v+HiFiyDWN6vVjA="
  />
</Settings>